body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

p {
  margin: 0
}

h1 {
  margin: 0;
}

.image {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .image {
    max-width: 100%;
  }
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  padding-bottom: 20px;
}

.text {
  font-weight: 300;
}

.list-item {
  margin-bottom: 10px;
}

a {
  font-weight: 400;
}

header, section {
  margin-bottom: 30px;
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.crossed {
  text-decoration: line-through;
}

.lp-list li {
  margin-bottom: 10px;
}

.main ul {
  list-style-type: none;
  padding-left: 40px
}

.main ul li {
  margin-bottom: 10px;
}

.name-block {
  cursor: pointer;
}

.name-block:hover .name {
  display: none;
}

.name-block .nickname {
  display: none;
}

.name-block:hover .nickname {
  display: block;
}

.version {
  color: #bbb;
}