---
import lpImage from "../assets/images/lp.webp";

import Layout from "../layouts/Layout.astro";
import BackToMain from "../components/BackToMain.astro";

const content = "licence plate";
const title = "vadoshere | права";
---

<Layout title={title} description={content}>
    <div class="lp">
        <div class="image-box">
            <img src={lpImage.src} alt="article image" width="500" role="img" />
        </div>

        <article class="lp-layout">
            <BackToMain />
            <header>
                <h1 transition:name="hero">як я складав на права</h1>
            </header>
            <section>
                <p class="text">
                    Загалом почну з того що це реально здати на права без
                    хабарів як би це абсурдно не звучало, притому шо півроку
                    тому, я однодумців не знаходив впринципі взагалі, мені всі
                    казали, це нереально, в тебе не получиться, на якомусь етапі
                    тобі всеодно прийдеться і хіхікали і всяке таке подібне, я
                    думаю хто вже склав то точно знає про шо я)
                </p>
            </section>
            <section>
                <h3>Загалом за бекграунд</h3>
                <p class="text">
                    Все життя я уникав штуки з водінням, машинами і не стояли це
                    в мене на порядку дня, не тягнуло мене до них взагалі, але
                    після 24 звісно пріоритети змінились. Знань було доволі
                    мінімально як за водіння так і теорію, я би сказав близько
                    нуля. На початку літа я трохи з татом за містом поїздили по
                    прямій дорозі через ями і на початку серпня я стартував свій
                    шлях до посвідчення через школу “нова автошкола” у Львові.
                </p>
            </section>
            <section>
                <h3>Про автошколу</h3>
                <p class="text">
                    На той момент зі всіх що я читав мала одні з кращих в
                    середньому відгуків в інтернетах. На практиці я чесно кажучи
                    розчарований в автошколі, і наскільки я розумію це всі такі
                    в основній масі. Я не розумію цього конструкту як
                    “автошкола” який необхідний обовязково для здачі іспиту на
                    права, тобто я б спокійно обійшов цей конструкт через те шо
                    теорію я і сам міг вивчити а практику найти додаткового
                    інстурктора, бо посуті інструктори від автшколи діють як
                    незалежні люди, і автокшола ніяк не впливає особо на це.
                </p>

                <p>Тезисно опишу основні моменти</p>
                <ul class="lp-list" role="list">
                    <li class="text" role="listitem">
                        Теорія. Я був в онлайн групі, і матеріал доволі
                        сухенький, притому шо лектор був ок, ок розказував і тд.
                        Мається на увазі шо теорію пдр я і сам міг найти, а
                        відео в інтернеті які є публічні теж. Тому ціни в
                        7к(здається) це дуже оверпрайсд. Ну і автокшола яка
                        набирає по 30+ в онлайн групу, не може купити підписку
                        на ютуб (яка групова на 5 людей коштує 150грн в місяць)
                        щоб студенти під час лекціх не дивились на ютубі рекламу
                        по 20 сек ну це жлобство.
                    </li>
                    <li class="text" role="listitem">
                        По датах. 27.07 старт лекцій і всього процесу, приблизно
                        05.09 закінчили теорію і сказали шо можем на практику
                        записуватись, і 03.10 дали сертифікати за закінчення
                        теорії. чому так довго?морозились відписувати в чаті,
                        адміністраторка захворіла і тд.. на практиці наскільки я
                        почитав в групі стандартна махінація де набирають в
                        групу більше людей чим можливо офіційно, а потім тягнуть
                        час шоб прийшла нова група офіційно а старим відправити
                        документи. Я можу помилятись в схемі, це таке.. але ось
                        так склалось. Чи можу помилятись? І просто наговорюю?
                        Звісно, але то настільки слабі комунікації в автошколі,
                        що це важко думати по іншому.
                    </li>
                    <li class="text" role="listitem">
                        По комунікаціях. я просто скажу що це хуйня, все
                        потрібно випитувати, взнавати додатково, і попару раз
                        перепитувати.
                    </li>
                    <li class="text" role="listitem">
                        За практику. тут автошкола крім того шо дає контакти
                        інструкторів більше ні нашо не вплипає. Практика була
                        ок. Проблемно то шо до мого інструктора було дуже важко
                        записатись, тобто тільки через 1-2 тижня в більшості, бо
                        до того все розписанно по годинах зранку до вечора.. до
                        цього можна пристосуватись але всеодно не дуже приємно.
                        Не приємно шо автошкола говорить про 90 хв практики, а
                        на практиці це біля 80хв. А ще що якщо заняття пропадає
                        то це по суті ти тільки з інструктором комунікуєш нема
                        заміни і тд. Я розумію шо це смішна предява, але я коли
                        плачу гроші за сервіс автошколі то впринципі мушу на
                        шось розраховувати. Це більше до аргументи шо автокшоли
                        не потрібні. Пропало в мене доречі по різних причинах
                        біля 50% проїзджених занять (тобто умовно 30 занять
                        проїздив, і 15 пропало які мали б бути, але не сталось).
                        Я немаю запитань до свого інструктора, це діло дуже
                        індивідуальне, я дуже вдячний за те чого я навчився.
                    </li>
                    <li class="text" role="listitem">
                        За негласні правила автошкіл чи сц. Стандартне, машину
                        можем надати, але після 16:00. По маршруту СЦ ми не
                        поїдемо, бо СЦ просить не їздити, так як машини від
                        автокшоли впізнавані то будуть проблеми кажуть. Я
                        розумію ситуацію з боку автошкіл, але мене як людину в
                        кандидати в водії це взагалі немає хвилювати, всі ці
                        негласні правила..
                    </li>
                    <li class="text" role="listitem">
                        Ну і на додачу. Про всякі 2-3 місяці і ви получити права
                        які є на сайті, це таке замилювання очей шо я звісно
                        дуже вражений, при всьому бажанні це виглядає практично
                        неможливо в наших реаліях. Фідбеку про навчання чи
                        можливо як я справляюсь наприклад, звісно не було, а це
                        хотілось би.
                    </li>
                    <li class="text" role="listitem">
                        Підсумок. Чи я задовелений прогресом який дала
                        автошкола? так. чи можу радити? ні. Чи пройшов я би
                        шераз цю автошколу мабуть що так, але просто через те що
                        я розумію як вона працює, бо береш нову якусь автошколу,
                        і там вже зовсім інші нюанси можуть бути. Ну і звісно я
                        вдячний що ні разу не були натяку на хабар чи щось
                        подібне.
                    </li>
                </ul>
            </section>
            <section>
                <h3>Про іспит</h3>
                <p class="text">
                    Проходив я весь шлях в СЦ зимна вода. Чому там? Казали що
                    простіше зареєструватись(так і вийшло), нова машина в сц(бо
                    я звісно розумів що на машині від автокшоли буде нереально
                    попасти) і були загалом хороші відгуки.
                </p>
                <h4>Теорія</h4>
                <p class="text">
                    На теорію я вважаю получилось зареєструватись легко, за два
                    дня невеликого моніторингу получилось взяти талон за
                    тиждень. я сильно пропрацював питання на greenway хотя міг
                    би більше, але цього було достатньо щоб здати без помилок.
                    загалом за тестування я би сказав, що білети легкі, їх
                    спокійно можна було б ускладнити. Тому я щиро не розумію
                    людей які жалілись на питання. Звісно є певні питання не
                    сильно логічні, але якшо розуміти контекст що ви здаєте на
                    права, все стає на свої місця.
                </p>
                <h4>Практика</h4>
                <p class="text">
                    З цим було складніше. Взяв талон просто приїхавши біля 10год
                    і простоявши чергу в годину щоб побачити десь за 11 днів
                    талон на 31 число. Нажаль в той день була тривога, щей
                    субота і мені розвели руками в 3 годині, що більше сьогодні
                    не будемо приймати… на питання що дальше робити якщо тривога
                    і не було іспиту, сказав мужик, що нічим помогти не можу
                    приходь на наступний робочий день у вівторок і реєструйся.
                    Звісно у вівторок зранку квитків не було, адміністратор
                    сказав що на найближчні два тижня 0 талонів на здачу… на
                    питання, чи є якась процедура якщо була повітряна тривога,
                    він сказав що немає… в той день у вівторок, я позвонив в
                    регіональний СЦ, де мені сказали, що якщо повітряна тривога
                    і ви не встигли на свій талон, у вас є право протягом двох
                    робочий днів просити щоб вас записали повторно. Тому я дуже
                    щиро здивувався від цих двох підарасів які на конкретні мої
                    питання по процедурах (якщо повітряна тривога) казали що
                    такого немає. Але це таке, можуть бути стандартні відмазки
                    “не почули” або це я не так зрозумів що вони сказали, тому
                    це нормально) приїхавши на наступний день. Мене пофутболили
                    до різних людей, але зрештою записали номер телефона,
                    прізвище і сказали шо покличуть, нажаль пройшло 2-3 години,
                    ще й на додачу в той день були тривога через
                    білорусів-підарасів, і я пішов питати чи зможу сьогодні
                    здати, люди особливо не проявляли ентузіазму мені помогти
                    якось, і відправили до керівника СЦ. Який все вислухав,
                    сказав що сьогодін вже нажаль не получиться, приходь завтра
                    зранку і спробуємо десь поставити на вільне місце. За що я
                    йому дуже вдячний, він дуже поміг. Загалом ситуація по цих
                    “двох робочих дня”, він мені пояснив, шо вони то роблять,
                    але взвязку з постійними тривогами список розростається і
                    вони фізично не можуть нічого з тим зробити, та і я розумію
                    ситуацію, просто мусить бути хоть якийсь пріоритет на талони
                    наступні. Бо наприклад сьогодні зранку я був свідком, як в
                    чергу влізно пару людей які “сиділи в машинах грілись” і
                    потім сказали шо вони займали.. чи може бути співпадіння?
                    Звісно може, але чи може бути шо ну настільки великий попит
                    на ці талони на здачі водійський прав, і це ніяк не
                    повязано? я сумніваюсь. продовжуємо про іспит, я приїхав на
                    наступний ранок, через півтора години мене покликали і я
                    успішно склав іспит, колінка підтрясувались по закінченню
                    звісно) Екзаменатор максимально приємна людина. Лишились
                    дуже позитивні враження. Про машину і машрут не буде
                    повторюватись в групі можна це прочитати все в пошуку. В
                    мене було дві помилка, не получилось під горку виїхати на
                    головну дорогу, два рази, все таки важко коли ти перший раз
                    на машині при не такому великому досвіді водіння, і без
                    перед іспитним, хочаб 5хвилинною їздою на цій машині.
                </p>
            </section>
            <section>
                <h3>Підсумок</h3>
                <p class="text">
                    Оказалось це все реально, дякую групі за мотивацію, за
                    знання) інструкторці) і людям які вірили і невірили(ви мене
                    сильно мотивували). І ще нашим людям на ютубі) Я це все так
                    описав детально, щоби перегорнути цю сторінку в своєму
                    житті, і помогти чимось наступним кандидатам в водії) щасти.
                </p>
            </section>
            <BackToMain />
        </article>
    </div>
</Layout>

<style>
    .lp {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: flex-start;
        padding: 60px 60px 0;
    }
    .image-box {
        display: flex;
        justify-content: space-around;
    }

    .image-box img {
        width: 500px;
        max-width: 100%;
    }

    @media (max-width: 1420px) {
        .lp {
            padding-top: 30px;
        }
        .lp-layout {
            padding: 0 40px;
        }
    }

    @media (max-width: 920px) {
        .lp {
            grid-template-columns: 1fr;
            padding: 20px 20px 0;
        }
        .image-box {
            margin-bottom: 20px;
        }
        .image-box img {
            width: 300px;
        }
    }
</style>
