<section>
    <p>contact</p>
    <ul role="list">
        <li role="listitem">
            twitter:
            <a
                href="https://twitter.com/vadoshere"
                target="_blank"
                title="my twitter profile link"
                role="link"
                aria-label="Visit my twitter"
            >
                often here despite not writing much</a
            >
        </li>
        <li role="listitem">
            telegram:
            <a
                href="http://t.me/vadoshere"
                target="_blank"
                title="my telegram account link"
                role="link"
                aria-label="Visit my telegram">ping me here if I needed</a
            >
        </li>
        <li role="listitem">
            github:
            <a
                href="https://github.com/vadostuta"
                target="_blank"
                title="my github account"
                role="link"
                aria-label="Visit my github"
                >here should be some projects to check
            </a>
        </li>
        <li role="listitem">
            linkedin:
            <a
                href="https://www.linkedin.com/in/vadym-vasko/"
                target="_blank"
                title="my linkedin profile account"
                role="link"
                aria-label="Visit my linkedin"
                >career process
            </a>
        </li>
        <li role="listitem">
            email:
            <a
                href="mailto:hey@vadoshere.com"
                title="my email"
                role="link"
                aria-label="Mail me"
                >hey@vadoshere.com
            </a>
        </li>
    </ul>
</section>
