<footer>
    <!-- TODO: make dynamic -->
    <div class="version">last updated march 7, 2023</div>
</footer>

<style>
    footer {
        margin: 20px 0;
        text-align: center;
        margin-top: 10vh;
    }
    .version {
        color: #bbb;
    }

    @media (max-width: 835px) {
        footer {
            margin: 20px 0;
            position: relative;
            bottom: unset;
        }
    }

    @media screen and (min-device-height: 390px) and (max-device-height: 414px) and (orientation: landscape) {
        footer {
            margin: 20px 0;
            position: relative;
            bottom: unset;
        }
    }
</style>
