<header>
    <h1 class="name-block">
        <span class="name">Vadym Vasko</span><span class="nickname">vados</span>
    </h1>
    <p class="text">frontend engineer</p>
</header>

<style>
    .name-block {
        cursor: pointer;
    }

    .name-block:hover .name {
        display: none;
    }

    .name-block .nickname {
        display: none;
    }

    .name-block:hover .nickname {
        display: block;
    }
</style>
