<section>
    <p>miscellaneous</p>
    <ul role="list">
        <li role="listitem">
            <a
                transition:name="hero"
                href="/lp"
                title="link to article, about my journey of getting driver licence, in ukrainian language"
                role="link"
                aria-label="my article about getting driver licence"
                >how did i get my driver's license (UA)</a
            >
        </li>
        <li role="listitem">
            Stand with Ukraine,
            <a
                href="https://savelife.in.ua/en/"
                target="_blank"
                title="Come Back Alive is a foundation that provides support to service members in the Armed Forces of Ukraine."
                role="link"
                aria-label="Visit savelife site and help Ukraine there"
                >how can u help?</a
            >
        </li>
        <li role="listitem">
            <a
                href="http://poplavasearch.netlify.app"
                target="_blank"
                title="Helper to search specific topic that was discussed during live stream"
                role="link"
                aria-label="Helper to search specific topic that was discussed during live stream"
            >
                search
            </a>for timecode chapters on the <a
                href="https://www.youtube.com/@Pravonapoplavu/about"
                target="_blank"
                title="youtube channel link"
                role="link"
                aria-label="youtube channel link">pravo na poplavu</a
            >
        </li>
    </ul>
</section>
