<section>
    <p>miscellaneous</p>
    <ul role="list">
        <li role="listitem">
            <a
                transition:name="hero"
                href="/lp"
                title="link to article, about my journey of getting driver licence, in ukrainian language"
                role="link"
                aria-label="my article about getting driver licence"
                >how did i get my driver's license (UA)</a
            >
        </li>
        <li role="listitem">
            Stand with Ukraine,
            <a
                href="https://savelife.in.ua/en/"
                target="_blank"
                title="Come Back Alive is a foundation that provides support to service members in the Armed Forces of Ukraine."
                role="link"
                aria-label="Visit savelife site and help Ukraine there"
                >how can u help?</a
            >
        </li>
    </ul>
</section>
