---
import CldImage from "../components/CldImage.astro";

const images = [
    "vadoshere/1_s8abpx",
    "vadoshere/2_juzyyp",
    "vadoshere/3_ok5hrq",
];
const maxImagesNumber = images.length;

const getRandomImageNumber = () =>
    Math.floor(Math.random() * (maxImagesNumber - 1 + 1));
---

<div class="image-box">
    <CldImage
        src={images[getRandomImageNumber()]}
        alt="profile"
        loading="lazy"
    />
</div>

<style>
    .image-box {
        padding: 0 0 0 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-box img {
        max-width: 80%;
    }

    @media (max-width: 1200px) {
        .image-box {
            padding: 0 60px;
        }
        .image-box img {
            max-width: 100%;
        }
    }

    @media (max-width: 900px) {
        .image-box {
            align-items: flex-start;
        }
    }
</style>
