---
import profileImage from "../assets/images/profile.webp";
---

<!-- TODO: image in compoentn and change in load? -->
<div class="image-box">
    <img
        src={profileImage.src}
        width="500"
        height="667"
        alt="profile picture"
        role="img"
    />
</div>

<style>
    .image-box {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
    }

    .image-box img {
        max-width: 100%;
    }

    @media (max-width: 1150px) {
        .image-box {
            padding-right: 0;
            justify-content: space-around;
        }
    }

    @media (max-width: 950px) {
        .image-box img {
            width: 400px;
            height: 100%;
        }
    }
    @media (max-width: 500px) {
        justify-content: start;
        padding-left: 10px;
        margin-bottom: 10px;
    }
</style>
